*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorDark1: #112d4e;
    --colorDark2: #3f72af;
    --colorLight1: #dbe2ef;
    --colorLight2: #f9f7f7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);

}
h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.tab-container{
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 4px;
}
.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px ;
}
.weather-container{
    margin-block: 4rem;
}
.btn{
    all: unset;
    background-color: var(--colorDark2) ;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grant-locationContainer{
    display: none;
}
.grant-locationContainer.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1;
}
.grant-locationContainer img{
    margin-bottom: 2rem;
}

.grant-locationContainer p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
    text-transform: capitalize;
}
.grant-locationContainer p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;
}
.loading-container p{
    text-transform: uppercase;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
}
.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
    height: 90px;
}
.name p{
    font-size: 2rem;
}
.name img{
    width: 30px;
    height: 30px;
}
.user-info-container p[data-Temp]{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px ;
    margin-top: 2rem;

}
.parameter {
    width: 30%;
    max-width: 200px;
    background-color: rgba(219,226,239,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px 0;
    padding: 1rem;
    border-radius: 5px;
}
.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-style: 200;
}
.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px ;
    margin-bottom: 3rem;
}
.form-container.active{
    display: flex;
}
.form-container input{
    all: unset ;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color: rgba(255,255,255,0.8);
}
.form-container input:focus{
    outline: 3px solid rgba(255,255,255,0.8);
}
.form-container.btn{
    padding: unset;
    width: 40px;
    height: 40px;
    border-radius: 100%
}








